* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: white;
    color: black;
    padding: 20px 0;
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left h1 {
    font-size: 24px;
    font-weight: 700;
    margin-left: -248.5px;
}

.main-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 148.5px;
}

.main-menu li {
    margin: 0 15px;
}

.main-menu a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.main-menu a:hover {
    color: #0056b3;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-right: 149px;
}

.header-right .button {
    background-color: #0056b3;
    color: white;
    margin-top: -initial;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font-size: 10px;
}

.header-right .button:hover {
    background-color: #004494;
}

.intro-text {
    background-color: white; 
    text-align: center;
    margin-top: 5px;
}

.intro-text h2 {
    font-size: 30px;
    color: #333;
}
.back-button {
    position: absolute;
    left: 1350px;
    border:  solid 1px;
    top: 7%;
    transform: translateY(50%); /* Центрирует кнопку по вертикали */
    background-color: #ffffff;
    color: #333;
    padding: 8px 15px;
    font-size: 16px;
    border: solid #007bff 1px;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s, transform 0.3s;
}

.back-button:hover {
    background-color: #ffffff;
    color: #007bff;
}


main {
    padding: 20px;
    flex: 1;
}

main {
    padding: 20px;
    flex: 1;
}

.container {
    max-width: 1400px;
    width: 100%;
    background-color: #ffffff;
    margin-left: 500px;
    display: flex;
}

.result-details {
    width: 100%; /* Размер блока с результатами */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #ffffff;
    display: flex;
    flex-direction: row; /* Блоки внутри расположены горизонтально */
    justify-content: space-between; /* Разделяет контейнеры по сторонам */
}

.result-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.result-text {
    width: 90%; /* Увеличиваем ширину блока для текста */
    margin-right: 150px;
    padding-left: 20px;
}
.result-text h3{
    font-size: 20px;
    color: #007bff;
}
.image-container {
    display: flex;
    flex-direction: column; /* Маленькие картинки под большим */
    width: 100%; /* Можно уменьшить или увеличить в зависимости от размера */
    height: 500px;
    
}

.result-image {
    width: 100%;  /* Уменьшаем ширину изображения */
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    margin-right: px;  /* Отступ между изображением и текстом */
}

.price-list-section{
    margin-top: 20px;
}
.price-list {
    list-style: none;
    padding-left: 0;
}

.price-list li {
    font-size: 16px;
    margin: 10px 0;
}
.price-item {
    display: flex;
    justify-content: space-between; /* Размещает название и цену по противоположным краям */
    margin-bottom: 10px; /* Можно добавить расстояние между строками */
}

.price {
    margin-left: 10px; /* Можно также использовать отступы для дополнительного контроля */
    font-weight: bold;
}
.right-column {
    width: 80%; /* Ширина правой колонки */
    margin-top: 20px;
}

.info-item {
    margin-top: 20px;
    margin-bottom: 20px; /* Отступ между разделами */
    display: flex; /* Выравнивание элементов по горизонтали */
    flex-direction: column; /* Сделаем колонку для контактов */
    align-items: flex-start; /* Выравнивание по левому краю */
}

.info-item h3 {
    color: #007bff; /* Синий цвет для заголовков */
    font-size: 14px; /* Размер шрифта заголовка */
    margin-right: 10px; /* Отступ справа от заголовка */
}

.info-item p, .info-item ul {
    margin: 0; /* Убираем отступы у текста */
    line-height: 1.5; /* Межстрочный интервал */
    display: inline; /* Отображаем текст в строку */
}

.info-item ul {
    list-style-type: none; /* Убираем стандартные маркеры списка */
    padding-left: 0; /* Убираем отступы у списка */
    margin: 0;
}

.info-item ul li {
    margin-bottom: 5px; /* Отступ между элементами списка */
}
.review-item {
    background-color: #ffffff; /* Цвет фона для отзыва */
    border: 1px solid #007bff; /* Светлая рамка вокруг отзыва */
    padding: 10px; /* Отступы внутри блока */
    margin-top: 10px; /* Отступ сверху между отзывами */
    border-radius: 6px; /* Закругленные углы рамки */
    width: 100%; /* Занимает всю ширину блока */
}

.review-item p {
    margin: 0; /* Убираем отступы у текста */
    font-size: 14px; /* Размер шрифта отзыва */
}


.blue-text {
    color: #007bff; /* Синий цвет */
}

.description {
    margin-top: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

footer p {
    font-size: 18px;
    margin-bottom: 10px;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    color: #0056b3;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column; /* Ставим элементы в столбик */
        font-size: 12px;
    }
    .filters {
        width: 100%;
        transform: translateX(0); /* Фильтры остаются на экране */
    }
    .result-item {
        flex-direction: column; /* Карточки становятся вертикальными */
    }
    .result-image {
        width: 100%; /* Картинка занимает всю ширину */
        height: 200px; /* Ограничение высоты картинки */
    }
    .result-text {
        margin-top: 20px;
    }
}

/* Для планшетов и небольших экранов */
@media (max-width: 1024px) {
    .container {
        flex-direction: row; /* Контейнер остается в ряд */
    }
    .main-menu{
        margin-left: 5px;
        margin-right: 5px;
        
    }
    .header-left{
        margin-left: 130px;
    }
    .header-right{
        margin-right: 30px;
    }
    .header-right .button{
        font-size: 12px;
    }
    
    .filters {
        width: 25%; /* Фильтры занимают меньше места */
        margin-right: 20px;
        margin-left: 20px;
        font-size: 10px;
    }
    .filter-group h3{
        font-size: 16px;
    }

    .result-item{
        max-width:550px;
        margin-left: -30px;
        height: 150px;
    }
    .result-image{
        width: 30%;
        height: auto;
    }
    .result-text {
        flex: 1;
    }
    
    .result-item h2 {
      font-size: 16px;
      margin: 5px -2px;
      
    }
    .result-item p {
       font-size: 12px;
       margin: 1px;
    }
    .button{
        margin-right: 5px;
        font-size: 6px;
    }
    .map-container{
        width: 50%;
    }
    .map-section{
        margin-left: px;
    }
    
}

/* Для больших экранов */
@media (min-width: 1200px) {
    .container {
        max-width: 730px;
        width: 70%;
    }
    .header-left h1 {
        font-size: 24px;
        font-weight: 700;
        margin-left: -350px;
    }
    
    .main-menu ul {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-right: -100px;
        margin-left: -350px;
    }
    
    .main-menu li {
        margin: 0 15px;
    }
    
    .main-menu a {
        color: black;
        text-decoration: none;
        font-size: 18px;
    }
    
    .main-menu a:hover {
        color: #0056b3;
    }
    
    .header-right {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
        margin-right:100px;

    }
    
    .header-right .button {
        background-color: #0056b3;
        color: white;
        margin-top: -initial;
        border: none;
        padding: 10px 20px;
        margin-left: 10px;
        cursor: pointer;
        border-radius: 5px;
        text-decoration: none;
    }
    
    .back-button {
        position: absolute;
        left: 1000px;
        border:  solid 1px;
        top: 12%;
        transform: translateY(50%); /* Центрирует кнопку по вертикали */
        background-color: #ffffff;
        color: #333;
        padding: 6px 14px;
        font-size: 14px;
        border: solid #007bff 1px;
        border-radius: 25px;
        text-decoration: none;
        cursor: pointer;
        background-color: transparent;
        transition: background-color 0.3s, transform 0.3s;
    }
    
    
    .result-details {
        width: 100%; /* Размер блока с результатами */
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        border: 2px solid #ffffff;
        display: flex;
        flex-direction: row; /* Блоки внутри расположены горизонтально */
        justify-content: space-between; /* Разделяет контейнеры по сторонам */
        margin-left: -400px;
    }
    
    .result-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 95%;
    }
    .result-text {
        width: 80%; /* Увеличиваем ширину блока для текста */

    
    }
    .blue-text {
        color: #007bff; /* Синий цвет */
    }
    
    
    .image-container {
        display: flex;
        flex-direction: column; /* Маленькие картинки под большим */
        width: 100%; /* Можно уменьшить или увеличить в зависимости от размера */
        height: 500px; 
    }    
}